.navbar{
	width:100%;
	position: fixed;
	left:0;
	top:0;
	z-index: 100;
	background:rgba(0,0,0,0.5);
}
.container{
	width:1200px;
	margin:0 auto;
}
.nav-logo{
	width:116px;
	height: 38px;
	float: left;
	margin-top:11px;
}
.nav-items{
	width:770px;
	float:left; 
}
.nav-item{
	float:left;
	position: relative;
	width:110px;
	text-align:center;
	z-index: 100;
	color:#fff;
	line-height: 60px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.nav-item.active{
	color:red;
}















.togLan{
  width:100px;
  float:right;
}
.togLan a{
	float: left;
	width:50px;
	line-height: 60px;
	color:#fff;
}
.togLan a.active{
	color:red;
}